<div>
    Hello world
</div>

{% javascript %}
  console.log("hello world")
{% endjavascript %}

{% schema %}
    {
        "name": "Call to Action",
        "class": "cta",
        "settings": [
            {
                "type": "text",
                "id": "call-to-action",
                "label": "Label",
                "default": ""
            }
        ]
    }
{% endschema %}