<div>
    {{ section.settings.cta-text }}
</div>

{% javascript %}
  console.log("section: ", section);
{% endjavascript %}

{% schema %}
{
    "name": "Call to action",
    "settings": [{
        "label": "Label",
        "id": "cta-text",
    "type": "text",
"default": "SHOP NOW"
}]
}
{% endschema %}