<div>
    {{ section.settings.cta-text }}
</div>

<script>
    const sectionData = {{ section | json }};
    console.log("section: ", sectionData);
</script>

{% schema %}
{
    "name": "Call to action",
    "settings": [{
        "label": "Label",
        "id": "cta-text",
    "type": "text",
"default": "SHOP NOW"
}]
}
{% endschema %}