<div>
    Hello world
</div>

{% javascript %}
  console.log("settings: ", settings);
{% endjavascript %}

{% schema %}
{
    "name": "Call to action",
    "settings": [{
        "label": "Label",
        "id": "call-to-action",
    "type": "text",
"default": "SHOP NOW"
}]
}
{% endschema %}