<div>
    {{ section.settings.cta-text }}
</div>

<script>
  const sectionSettings = {
    {% for setting in section.settings %}
      {% unless setting[1] == blank %}
        "{{ setting[0] }}": {{ setting[1] | json }}{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  };
  console.log('Section settings:', sectionSettings);
</script>

{% schema %}
{
    "name": "Call to action",
    "settings": [{
        "label": "Label",
        "id": "cta-text",
    "type": "text",
"default": "SHOP NOW"
}]
}
{% endschema %}